.todo-input {
  padding: 10px 12px;
  width: 250px;
  border: 2px solid #c9a1c3;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}
.li {
  list-style: none;
}

.todo-text {
  flex: 1;
  font-size: 15px;
}
.todo-item {
  margin: 10px 0;
}
.todo-item .li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 12px 12px 12px 14px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}
.todo-item .li:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
.todo-item .li.completed {
  opacity: 0.7;
}
.input-box {
  display: flex;
  gap: 10px;
}
.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
}
.countdown-box {
  background: #fff5f7;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  margin-bottom: 14px;
}
.time-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.time-input {
  width: 60px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ffb6c1;
  text-align: center;
}
.flip-clock {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.flip-card {
  background: #ff6b81;
  color: white;
  width: 80px;
  height: 90px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 6px 0 #e8436f;
}
.start-btn {
  background: #a8e6cf;
  color: #1b4332;
}

.pause-btn {
  background: #ffd3b6;
  color: #7a3b1e;
}
.flip-wrapper {
  position: relative;
  width: 80px;
  height: 90px;
  perspective: 400px;
}

.flip-card {
  position: relative;
  width: 80px;
  height: 90px;
  border-radius: 12px;
  background: #ff6b81;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 0 #e8436f;
  transform-style: preserve-3d;
  transition: transform 0.9s ease-in-out;
}

/* Khi có class "flip" thì lật 180 độ */
.flip {
  transform: rotateX(100deg);
}
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateX(180deg);
}
.flip-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  top: 50%;
}
.text {
  color: #f4f1f3;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}
